<h1>Book Now</h1>

<%= simple_form_for [@activity, @booking] do |f| %>
 <div class="form-inputs">
    <%= f.input :start_date, as: :date, required: true %>
    <%= f.input :end_date, as: :date, required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Book Now" %>
  </div>
<% end %>
