<div class="container activities-index">

  <div class="header-section text-center mb-5">
    <br>
    <h1 class="display-4 font-weight-bold">Activities</h1>
    <p>Engage with people that want to share activities with you!</p>
    <br>
  </div>


  <div class="map-section mb-5">
    <h2 class="section-title mb-4">Find Activities Near You</h2>
    <div class="map-container rounded shadow"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

  <div class="cta-section py-5 bg-light">
    <div class="container text-center">
      <h3 class="mb-4">Ready for your next adventure?</h3>
      <%= link_to "Suggest New Activity", new_activity_path, class: "btn btn-primary btn-lg" %>
    </div>
  </div>

  <br>

  <div class="activities-grid mb-5">
    <div class="row">
      <% @activities.each do |activity| %>
        <div class="col-md-4 mb-4">
          <%= render "activities/card", activity: activity %>
        </div>
      <% end %>
    </div>
  </div>
</div>
