<div class="container">
  <%# banner with image_url %>
  <h1> <%= @activity.name %></h1>
</div>

<div class="description">
  <h4>Description</h4>
  <p>
    <%= @activity.category %>
  </p>
   <p>
    <%# <%= @activity.location %>
  </p>

</div>
